<p id="notice"><%= notice %></p>

<h1>Stock Exchanges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>Active</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_exchanges.each do |stock_exchange| %>
      <tr>
        <td><%= stock_exchange.name %></td>
        <td><%= stock_exchange.description %></td>
        <td><%= stock_exchange.website %></td>
        <td><%= stock_exchange.active %></td>
        <td><%= stock_exchange.priority %></td>
        <td><%= link_to 'Show', stock_exchange %></td>
        <td><%= link_to 'Edit', edit_stock_exchange_path(stock_exchange) %></td>
        <td><%= link_to 'Destroy', stock_exchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Exchange', new_stock_exchange_path %>
